{% load custom_tags %}

<div class="span7">
  <h4>Your Active Alerts</h4>
  <table class="table">
    <tr>
      <td><h5>Type</h5></td>
      <td><h5>Destination</h5></td>
      <td><h5>Alert When</h5></td>
      <td><h5>Threshold</h5></td>
      <td><h5>Delete</h5></td>
    </tr>
    {% for alert in myAlerts %}
    <tr>
      <td>{{ alert.delivery_type }}</td>
      <td>
        {% if alert.delivery_type == "SMS" %}
        {{ alert.destination|phonenumber }}
        {% else %}
        {{ alert.destination }}
        {% endif %}
      </td>
      <td>{{ alert.alert_when }}</td>
      <td>${{ alert.threshold }}</td>
      <td><a href="/delete?id={{alert.id}}"><i class="icon-trash"></i></a></td>
    </tr>
    {% endfor %}
  </table>
</div>

