<div class="jumbotron">
  <h1>Real-Time Bitcoin Alerts</h1>
  <p class="lead">Receive an e-mail or text message when the price of Bitcoin rises above or falls below a certain threshold!</p>

{% if registration_form.errors %}
<script type="text/javascript">
$(document).ready(function(){
  $('#registerModal').removeClass('fade');
  $('#registerModal').modal('show');
});
</script>
{% endif %}

  <!-- Button to trigger modal -->
  <a class="btn btn-large btn-success" role="button" data-toggle="modal" href="#registerModal">
    Set up your alert now!</a>
</div>

      <hr>

      <!-- Example row of columns -->
      <div class="container row-fluid">
        <div class="span4">
          <h2>Configurable Alerts</h2>
	  <li>Set price thresholds</li>
	  <li>Select from multiple marketplaces</li>
	  <li>Define delivery method</li>
	  <li>Set hard thresholds</li>
	  <li>Set percentage movement thresholds (coming soon)</lI>
        </div>
        <div class="span4">
          <h2>Real Time</h2>
	  <li>Receive alerts when they happen</li>
	  <li>True push notifications</li>
	  <li>No more refreshing bitcoincharts.com or watching bitcoinity</li>
       </div>
        <div class="span4">
          <h2>Multiple Delivery Options</h2>
	  <li>Email</li>
	  <li>SMS</li>
	  <li>Webhook (coming soon)</li>
        </div>
      </div>
