{% extends "base.html" %}

{% load bootstrap_toolkit %}

{% block title %}
Bitcoin Price Alerts
{% endblock %}

{% block content%}
{% if user.is_authenticated %}
{% if user.is_active %}

{% if registration_form.errors %}
{% endif %}


<!-- DISPLAY ALERTS TABLE -->
{% include "alerts_table.html" %}

<!-- DISPLAY ALERT REQUEST FORM -->
{% include "alert_request.html" %}

<!-- Phone Modal -->
{% include "phone_modal.html" %}

<!-- Confirm Phone Modal -->
{% include "confirm_modal.html" %}

<!-- Success Modal -->
{% include "success_modal.html" %}

{% else %}
<!-- Handle case where user signed in, but not active -->
<div class="span 11 offset1">
  <p class="lead">
    Your account has not yet been activated. Please check your email and click on the link to activate your account.
  </p>
</div>
{% endif %}


<!-- Handle not signed in case -->
{% else %}
{% include "home_base.html" %}
{% include "register_modal.html" %}
{% endif %}
{% endblock %}
