{% load bootstrap_toolkit %}

<div id="phoneModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
    <h3 id="myModalLabel">Verify your Phone Number</h3>
  </div>
 <div class="modal-body">
      <form class="form-signin" action="" method="post" id="phone_form">
        {% csrf_token %}
        {{ phone_form|as_bootstrap }}
      </form>
 </div>
 <div class="modal-footer">
   <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
   <input type="submit" class="btn btn-primary" name="phone_form" form="phone_form" value="Send Verification Text"/>
 </div>
</div>

{% if confirm_phone or confirmation_failed %}
<script type="text/javascript">
$(document).ready(function(){
  $('#phoneConfirmModal').modal('show');
});
</script>
{% endif %}
